.MuiDataGrid-cell img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.MuiDataGrid-columnHeader {
    color: rgb(22, 169, 219);
}

.MuiDataGrid-cell:nth-child(7) {
    color: rgb(24, 161, 225);
}
  
  