/* Global Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f2f5;
}

/* Profile Card Styles */

.profile-header {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  margin-left: 5%;
  margin-top: 4%;
}

.profile-pic {
  width: 12%;
  height: 12%;
  border-radius: 50%;
  position: relative;
  margin-right: 4%;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h2 {
  margin: 0;
  font-size: 20px;
}

.profile-info p {
  margin: 2px 0;
  color: gray;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.border {
  border: 1px solid #ccc;
}

.bg-gray-200 {
  background-color: #e2e2e2;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.bg-white {
  background-color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  color: #000;
}

.profile-body {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.progress-circle {
  position: relative;
  margin-right: 5%;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120%;
  color: rgb(0, 129, 138);
}

.traits {
  flex-grow: 1;
}

.trait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.trait span:first-of-type {
  flex-basis: 30%;
  text-transform: capitalize;
  text-align: left;
}

.trait-bar {
  flex-basis: 40%;
  background-color: #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
}

.trait-progress {
  height: 10px;
  border-radius: 4px;
  transition: width 0.5s ease;
}

.p-3 {
  padding: 0rem 1rem;
}

.justify-center {
  justify-content: center;
}

.td-close-icon {
  flex-basis: 30%;
  text-align: right;
  cursor: pointer;
}

.trait-description {
  padding-left: 5%;
}
.trait-description h3 {
  text-align: left;
  color: rgb(0, 129, 138);
}

.trait-description p {
  text-align: justify;
  color: rgb(92, 91, 91);
}

.close-icon {
  top: 100%;
  right: 0;
}

.profile-close-icon {
  float: right;
  cursor: pointer;
  padding: 5%
}
