.profile-card-wrapper {
  font-family: Arial, sans-serif;
}

.profile-card-wrapper .profile-card {
  overflow-y: auto; /* Allow scrolling if content is too tall */
}

.profile-card-wrapper .profile-header {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  margin-left: 5%;
  margin-top: 4%;
}

.profile-card-wrapper .profile-pic {
  width: 12%;
  height: 12%;
  border-radius: 50%;
  position: relative;
  margin-right: 4%;
}

.profile-card-wrapper .profile-info {
  flex-grow: 1;
}

.profile-card-wrapper .profile-info h2 {
  margin: 0;
  font-size: 20px;
}

.profile-card-wrapper .profile-info p {
  margin: 2px 0;
  color: gray;
}

.profile-card-wrapper .flex {
  display: flex;
}

.profile-card-wrapper .flex-col {
  flex-direction: column;
}

.profile-card-wrapper .overflow-hidden {
  overflow: hidden;
}

.profile-card-wrapper .items-center {
  align-items: center;
}

.profile-card-wrapper .w-full {
  width: 100%;
}

.profile-card-wrapper .border {
  border: 1px solid #ccc;
}

.profile-card-wrapper .bg-gray-200 {
  background-color: #e2e2e2;
}
.profile-card-wrapper .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.profile-card-wrapper .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.profile-card-wrapper .bg-white {
  background-color: white;
}

.profile-card-wrapper .button-group {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  color: #000;
}

.profile-card-wrapper .profile-body {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.profile-card-wrapper .progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120%;
  color: rgb(0, 129, 138);
}

.profile-card-wrapper .traits{
  flex-grow: 1;
}

.profile-card-wrapper .trait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-card-wrapper .trait span:first-of-type {
  flex-basis: 30%;
  text-transform: capitalize;
  text-align: left;
}

.profile-card-wrapper .trait-bar {
  flex-basis: 40%;
  background-color: #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
}

.profile-card-wrapper .trait-progress {
  height: 10px;
  border-radius: 4px;
  transition: width 0.5s ease;
}

.profile-card-wrapper .p-3 {
  padding: 0rem 1rem;
}

.profile-card-wrapper .justify-center {
  justify-content: center;
}

.profile-card-wrapper .td-close-icon {
  flex-basis: 30%;
  text-align: right;
  cursor: pointer;
}

.profile-card-wrapper .trait-description {
  padding-left: 5%;
}
.profile-card-wrapper .trait-description h3 {
  text-align: left;
  color: rgb(0, 129, 138);
}

.profile-card-wrapper .trait-description p {
  text-align: justify;
  color: rgb(92, 91, 91);
}

.profile-card-wrapper .close-icon {
  top: 100%;
  right: 0;
}

.profile-card-wrapper .profile-close-icon {
  float: right;
  cursor: pointer;
  padding: 5%
}
