.login-page {
    display: flex;
    height: 100vh;
}
h2 {
    width: 358px;
    height: 63.636px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-left: 200px;
}
input {
    font-size: 16px;
    border: none;
    margin: 5px;
    text-align: center;
}
